*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-text: #111;
    --color-background: #fbf7f5;
}
/* light theme */
body:has(input[name="moon"][value="light"]:checked) {
    --color-text: #111;
    --color-background: #fbf7f5;
}

/* dark theme */
body:has(input[name="moon"][value="dark"]:checked) {
    --color-text: #fff;
    --color-background: #222;
}

/* positioning sun icon */
footer label:nth-of-type(1) {
   position: fixed;
   top: 32em;
   right: 1.6em;
   display: flex;
   justify-content: flex-end; 
   align-items: center;
   cursor: pointer;
}

/* positioning moon icon */
footer label:nth-of-type(2) {
    position: fixed;
    top: 32em;
    right: 4.6em;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
	cursor: pointer;
}

/* styling dark/light icon */
label img:nth-of-type(1) {
    width: 2.5em;
}

label input[type="radio"]:not(:checked) + img {
    opacity: 0.5; 
    transform: scale(0.9); 
}

/* radio buttons hidden */
label input[type="radio"] {
    display: none;
}

/* hide dark/light mode laptop size */
@media (min-width: 64em) {
    footer label:nth-of-type(1), /* Sun icon */
    footer label:nth-of-type(2) /* Moon icon */ {
        display: none;
    }
}


/* fonts */
@font-face {
    font-family: broken-planetregular;
    src: url(../fonts/HalvarBreit-Rg.ttf);
}

@font-face {
    font-family: broken-planetbold;
    src: url(../fonts/HalvarBreit-Bd.ttf);
}

@font-face {
    font-family: broken-planetthin;
    src: url(../fonts/HalvarBreit-Th.ttf);
}

/* General styles */
body {
    margin: 0;
    height: 100dvh;
    display: grid;
    place-items: center;
    font-family: broken-planetregular;

    color: var(--color-text);
    background-color: var(--color-background);
    transition: background-color 0.3s, color 0.3s;
}

