header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 1em;
    z-index: 2;
}

header img {
    grid-column: 2;
    justify-self: center;
    width: 2.25em;
    cursor: pointer;
}

/* styling clothing items */
main ul {
    list-style: none;
}

/* positioning & styling hamburger menu */
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fbf7f5;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;

    /* animation hamburger menu */
    transform: translateY(100%);
    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;
}

nav ul.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* styling text hamburger menu */
nav ul li a {
    color: rgb(134, 134, 134);
    text-decoration: none;
    font-size: 1em;
    line-height: 3em;
    letter-spacing: 0.0094em;
    text-align: center;
}

nav ul li a:hover {
    color: rgb(91, 91, 91);
}

/* button hamburger menu */
header nav button {
    position: fixed;
    bottom: 1em;
    left: .5em;
    width: 5em;
    height: 3em;
    border: none;
    font-size: 1em;
    display: grid;
    place-items: center;
    z-index: 1;
    background-color: transparent;
}

header nav button span {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 3em;
    height: 0.14em;
    background-color: black;
    transition: 0.5s;
    display: block;
}

/* animation open/close hamburger menu */
header nav button span:nth-of-type(1) {
    transform: translate(0, -1em);
}

header nav button span:nth-of-type(2) {
    transform: translate(0);
}

header nav button span:nth-of-type(3) {
    transform: translate(0, 1em);
}

header nav button.open span:nth-of-type(1) {
    transform: translate(0, 0) rotate(45deg);
}

header nav button.open span:nth-of-type(2) {
    transform: scale(0, 1);
}

header nav button.open span:nth-of-type(3) {
    transform: translate(0, 0) rotate(-45deg);
}

/* cart button */
header button:nth-of-type(1) {
    font-family: broken-planetbold;
    color: black;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fbf7f5;
    font-size: 1em;
}

header button:nth-of-type(1):hover {
    color: grey;
}

/* back button */
a {
    font-family: broken-planetregular;
}

a button {
    font-family: broken-planetregular;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    border: none;
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}


a button:hover {
    color: grey;
    /* Hover effect voor de button */
}

a button img {
    width: 2.5em;
    /* Stel de breedte van de afbeelding in */
    height: auto;
    /* Zorg ervoor dat de hoogte van de afbeelding zich proportioneel aanpast */
}




/* header button:nth-of-type(2) {
	font-family: broken-planetbold;
	color: black;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #fbf7f5;
	font-size: 1em;
}

header button:nth-of-type(2):hover {
	color: grey;
} */

/* styling tiktok icon */
nav ul li img:nth-of-type(1) {
    position: fixed;
    bottom: 1.4em;
    right: 13.5em;
    width: 2em;
    cursor: pointer;
}

/* styling instagram icon */
nav ul li img:nth-of-type(2) {
    position: fixed;
    bottom: 1.4em;
    right: 9.5em;
    width: 2em;
    cursor: pointer;
}

/* styling pinterest icon */
nav ul li img:nth-of-type(3) {
    position: fixed;
    bottom: 1.4em;
    right: 5.5em;
    width: 2em;
    cursor: pointer;
}

/* styling mail icon */
nav ul li img:nth-of-type(4) {
    position: fixed;
    bottom: 1em;
    right: 2em;
    width: 2em;
    cursor: pointer;
}

nav ul li img:hover {
    opacity: 0.6;
}

footer ul {
    list-style: none;
}

footer ul li img:nth-of-type(1) {
    position: fixed;
    bottom: 1.4em;
    right: 13.5em;
    width: 2em;
    cursor: pointer;
}

footer ul li img:nth-of-type(2) {
    position: fixed;
    bottom: 1.4em;
    right: 9.5em;
    width: 2em;
    cursor: pointer;
}

footer ul li img:nth-of-type(3) {
    position: fixed;
    bottom: 1.4em;
    right: 5.5em;
    width: 2em;
    cursor: pointer;
}

footer ul li img:nth-of-type(4) {
    position: fixed;
    bottom: 1em;
    right: 2em;
    width: 2em;
    cursor: pointer;
}

footer ul li img:hover {
    opacity: 0.6;
}




main img {
    width: 30em;
}

main button:nth-of-type(1) {
    width: 3em;
    height: 3em;
    border: 0.15em solid;
    border-color: #111;
    border-radius: 50%;
    background-color: #2e3b2f;
}

/* tekst onder image */

main p:nth-of-type(1) {
    text-transform: uppercase;
    text-align: left;
    grid-column: 1;
}

main p:nth-of-type(2) {
    color: rgb(134, 134, 134);
    text-align: right;
    grid-column: 2;
}

main p:nth-of-type(3),
main p:nth-of-type(4) {
    color: rgb(134, 134, 134);
    text-align: left;
    grid-column: 1;
}


/* Tekst 'size' over de volledige breedte van de knoppen */
main p:nth-of-type(4) {
    grid-column: 1 / 7; /* Laat de tekst 'size' over alle kolommen uitlijnen */
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 gelijke kolommen */
    grid-template-rows: auto auto auto auto; /* 4 rijen */
    gap: 1em;
}

/* Knoppen uitlijnen in het grid */
main button:nth-of-type(1) {
    grid-column: 1; /* Eerste knop in de eerste kolom */
}

main button:nth-of-type(2) {
    grid-column: 2; /* Tweede knop in de tweede kolom */
}

main button:nth-of-type(3) {
    grid-column: 3; /* Derde knop in de derde kolom */
}

main button:nth-of-type(4) {
    grid-column: 4; /* Vierde knop in de vierde kolom */
}

main button:nth-of-type(5) {
    grid-column: 5; /* Vijfde knop in de vijfde kolom */
}

main button:nth-of-type(6) {
    grid-column: 6; /* Zesde knop in de zesde kolom */
}

main button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border: 0.1em solid;
    border-color: rgb(134, 134, 134);
    border-radius: 50%;
    background-color: #fbf7f5;
    color: rgb(134, 134, 134);
    font-family: broken-planetthin;
    font-size: 0.75em;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: rgb(134, 134, 134);
    color: #fbf7f5;
}

/* more photos of the hoodie */
main ul {
    grid-row: 2; 
    list-style: none; 
    display: flex; 
    gap: 1em; 
    padding: 0; 
}

main ul li {
    display: flex; 
    gap: 0.5em; 
}

main ul li img {
    width: 11em; 
    height: 15em;
    cursor: pointer; 
}

main ul li img:hover {
    opacity: 0.5;
}