*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--color-text: #111;
	--color-background: #eee;
}


@font-face {
	font-family: broken-planetregular;
	src: url(/fonts/HalvarBreit-Rg.ttf);
}

@font-face {
	font-family: broken-planetthin;
	src: url(/fonts/HalvarBreit-Th.ttf);
}

header img {
	width: 3em;
}

h3 {
	font-family: broken-planetregular;
	font-size: 0.8775em;
	text-transform: uppercase;
}

h4,
h5,
h6 {
	font-family: broken-planetregular;
	src: url(/fonts/HalvarBreit-Rg.ttf);
	font-size: 0.875em;
	text-transform: uppercase;
}

p {
	font-family: broken-planetthin;
	src: url(/fonts/HalvarBreit-Th.ttf);
	font-size: 0.875em;
	text-transform: uppercase;
}

/* .clothing-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
} */

/* ul:nth-of-type(1){
	display:flex;
} */